<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Tasks</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/planner.css' %}">
    <link rel="icon" href="{% static 'icon/planner.png' %}" type="image/x-icon">
  </head>
  <body>
    <ul>
        <li><a href="../daily/">My Day</a></li>
        <li><a href="../all/">Scheduled</a></li>
        <li><a href="../important/">Important</a></li>
        <li><a href="../completed/">Completed</a></li>
    </ul>
    <div id="task-list"></div>
    <form id='task-form' onsubmit="return false">
                {% csrf_token %}
                <label>Task</label>
                {{ form.task }} <br>
                <label>Date</label>
                {{ form.date }} <br>
                <label>Important?</label>
                {{ form.important }} <br>
                <label>Completed?</label>
                {{ form.completed }} <br>
                <button id="daily-submit" onclick="addTask(); resetFields()">Add</button>
                </form>
    
                <form id='edit-form' onsubmit="return false">
                {% csrf_token %}
                <label>Task</label>
                {{ form.task }} <br>
                <label>Date</label>
                {{ form.date }} <br>
                <label>Important?</label>
                {{ form.important }} <br>
                <label>Completed?</label>
                {{ form.completed }} <br>
                <button id="daily-submit" onclick="editSubmit(); resetFields()">Save</button>
                </form>

    <footer>Planner, Trash, Tick and Cross icon by <a>icons8.com</a><br>
    <a href="https://www.flaticon.com/free-icons/register" title="register icons">Register icons created by Pixel perfect - Flaticon</a></footer>
         <script src="{% static 'js/taskRetriever.js' %}"></script>
  </body>

</html>