<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="icon" href="{% static 'icon/authentication.png' %}" type="image/x-icon">
  </head>
  <body>
    <form method="POST" action="">
      {% csrf_token %}
      <label>Username:</label>
      {{ form.username }} <br>

      <label>First name:</label>
      {{ form.first_name }} <br>

      <label>Email:</label>
      {{ form.email }} <br>

      <label>Password:</label>
      {{ form.password1 }} <br>

      <label>Confirm password:</label>
      {{ form.password2 }} <br>
      <button type="submit">Submit</button>
    </form>
        <span class="sign-in">Got an account?</span> <a href="./signin/">Log In</a>
    <footer>Icons by <a>icons8.com</a></footer>
  </body>
</html>